@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

header{
    height: 60px;
    background: #333;
}

header h1{
    color: #fff;    
}

.content{
    margin: 0 auto;
    width: 300px;
}

.content h1{
    text-align: center;
    margin: 20px 0;
}

#loginForm{
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background: rgb(240,240,240);
    border-radius: 10px;
    text-align: center;
}

#loginForm form {
    margin: 10px 0;
}

.success{
    background-color: rgb(50,240,50) !important;
}

.fail{
    background-color: rgb(240,50,50) !important;
}

.hideMessage{
    display: none;
}

.showMessage{
    display: block;
}